body {
    font-family: Arial, sans-serif;
    background-color: #f3f9fc;
    padding: 0;
    margin: 0;
}

#mensajes {


    height: 400px;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 20px;
}

.mensaje {
    background-color: #f2f7ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

.fecha {
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
}

#formulario-mensaje {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#mensaje {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

#formulario-mensaje input[type="text"]:focus {
    border-color: #78aaff;

}



.boton-foro {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008FA5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: background 0.3s;
}

.boton-foro:hover {
    background-color: #006f82;
}

.boton-enviar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #008FA5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
    transition: background 0.3s;
}

.boton-enviar:hover {
    background-color: #006f82;
}